
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

.link a:hover {
  color: rgba(255, 255, 255, 0.726);
}

button{
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover{
  background-color: #ffffffa4;
}

input{
   padding: 8px;
   border-radius: 10px;
}

select{
  padding: 8px;
  border-radius: 10px;
}